/* styling for the header */
header {
  background-color: #351616;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

nav > a {
  font-size: 20px;
  color: rgb(250, 250, 250);
  font-weight: normal;
  padding-left: 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#logo {
  margin-left: 50px;
  background-color: rgb(250, 250, 250);
  margin-top: 15px;
  padding: 3px 20px 3px 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 0px #999,
              2px 2px 0px #999,
              3px 3px 0px #999,
              4px 4px 0px #999,
              5px 5px 0px #999,
              6px 6px 0px #999;
}

#logo > p {
  color: #351616;
  font-size: 32px;
  font-weight: bolder;
}

/* styling for the homepage */
#post {
  border: #351616 solid;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #351616;
  padding: 10px 15px;
}

#post-header > a {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: bolder;
}

#post-header > p {
  color: rgb(250, 250, 250);
  font-size: 12px;
}

#post-content {
  width: 100%;
  padding: 5px 15px 25px 15px;
}

#post-content > p {
  color: #351616
}

/* useless code below i believe i can delete
.project:not(:last-child) {
  
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */
