header {
  border-bottom: 1px solid #ccc;
  background-color: #351616;
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}

header > a {
  font-size: 24px;
  color: white;
  font-weight: normal;
  padding-left: 50px;
}

header > p {
  color: white;
}

.project:not(:last-child) {
  
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
